#js-mr-approvals-input{ data: { 'project_id': @target_project.id,
  'can_edit': can?(current_user, :update_approvers, issuable).to_s,
  'allow_multi_rule': @target_project.multiple_approval_rules_available?.to_s,
  'mr_id': issuable.iid,
  'mr_settings_path': issuable.iid && api_v4_projects_merge_requests_approval_settings_path(id: @target_project.id, merge_request_iid: issuable.iid),
  'project_settings_path': api_v4_projects_approval_settings_path(id: @target_project.id) } }
  = sprite_icon('spinner', size: 24, css_class: 'gl-spinner')
