.issue-token {
  display: inline-flex;
  align-items: stretch;
  max-width: 100%;
  line-height: 1.75;
  white-space: nowrap;
}

.issue-token-link {
  display: inline-flex;
  min-width: 0;

  color: $gl-text-color-secondary;

  &[href] {
    color: $blue-600;
  }

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

.issue-token-reference {
  display: flex;
  align-items: center;
  margin-right: 1px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: $gray-lighter;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  transition: background $general-hover-transition-duration $general-hover-transition-curve, color $general-hover-transition-duration $general-hover-transition-curve;

  .issue-token:hover &,
  .issue-token-link:focus > & {
    background-color: $gray-normal;
    color: $blue-800;
    text-decoration: none;
  }
}

.issue-token-state-icon-open {
  color: $green-500;
}

.issue-token-state-icon-closed {
  color: $blue-500;
}

.issue-token-title {
  overflow: hidden;
  display: flex;
  align-items: baseline;
  padding-left: 0.5em;
  background-color: $gray-normal;
  color: $gl-text-color-secondary;
  transition: background $general-hover-transition-duration $general-hover-transition-curve;

  .issue-token:hover &,
  .issue-token-link:focus > & {
    background-color: $border-gray-normal;
  }

  > .fa {
    line-height: inherit;
  }
}

.issue-token-title-standalone {
  padding-right: 0.5em;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.issue-token-title-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.issue-token-remove-button {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  background-color: $gray-normal;
  border: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: $gl-text-color-secondary;
  transition: background $general-hover-transition-duration $general-hover-transition-curve;

  &:hover,
  &:focus,
  .issue-token:hover &,
  .issue-token-link:focus + & {
    background-color: $border-gray-normal;
    outline: none;
  }

  > .fa {
    font-size: 0.9em;
  }
}
